PORT=3000
JWT_SECRET=change-me-in-production
GOOGLE_CLIENT_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DB_PATH=data/db.json
BASE_DOMAIN=agents.team-e.teams.eafit.testnet.verana.network
GENERATED_OUTPUT_DIR=generated
K8S_NAMESPACE=team-e
KUBECONFIG_PATH=C:\Users\Usuario\Desktop\kubernets\team_e_kubeconfig.yaml
AGENT_CHART_SOURCE=oci://registry-1.docker.io/io2060/hologram-generic-ai-agent-chart
AGENT_CHART_VERSION=v1.11.2
CREDENTIAL_DEFINITION_ID=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_BASE_URL=https://api.openai.com/v1
EXAMPLE_AGENT_POSTGRES_PASSWORD=
EXAMPLE_AGENT_MCP_CONFIG_ENCRYPTION_KEY=
EXAMPLE_AGENT_WALLET_KEY=
EXAMPLE_AGENT_VSAGENT_DB_PASSWORD=
GITHUB_MCP_URL=https://api.githubcopilot.com/mcp/
NOTION_MCP_URL=https://mcp.notion.com/mcp
DEEPWIKI_MCP_URL=https://mcp.deepwiki.com/mcp
ATLASSIAN_MCP_URL=https://mcp.atlassian.com/v1/sse
GITHUB_PERSONAL_ACCESS_TOKEN=
NOTION_API_TOKEN=
ATLASSIAN_API_TOKEN=
ORG_VS_ADMIN_URL=https://admin.organization.eafit.testnet.verana.network
ECS_TR_PUBLIC_URL=https://ecs-trust-registry.testnet.verana.network
